.form {
  width: 100%;
  height: 100%;
}
.form__name {
  margin-bottom: 12px;
  size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}
.form__list {
  list-style: none;
}
.form__item {
  position: relative;
  display: flex;
  flex-direction: column;
}
.form__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.form__checkbox {
  margin-top: 10px;
  margin-bottom: 30px;
}
.form__span {
  position: relative;
}
.form__label {
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.form__icon {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 15px;
  fill: #212121;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.login {
  width: 12px;
  height: 12px;
}
.tell {
  width: 13px;
  height: 13px;
}
.mail {
  width: 15px;
  height: 12px;
}
.form__okey {
  width: 16px;
  height: 15px;
  margin-left: 52px;
}
.form__label {
  &:focus-within > .form-icon {
    fill: #18a0fb;
  }
}
.form__input {
  &:focus-within {
    border: 1px solid #18a0fb;
  }
}

.form__input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input {
  &:hover ~ .form__icon,
  &:focus ~ .form__icon {
    fill: #18a0fb;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.form__input {
  &:hover,
  &:focus {
    border: 1px solid #18a0fb;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
}

.form__text {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  width: 370px;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__text {
  &:hover,
  &:focus {
    border: 1px solid #18a0fb;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
  }
}

.form__check {

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon__okay {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-position: center;
}
.form__check:checked + .icon__okay {
  border-color: #18a0fb;
  background-color: #18a0fb;
  background-image: url('../images/okay.svg');
  background-size: contain;
  background-origin: content-box;
  box-sizing: border-box;
}
.form__check:focus + .icon__okay {
  border-color: #18a0fb;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    backgraund-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__button {
  padding-left: 56px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 55px;
  background: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: none;
}
.form__doc {
  color: #18a0fb;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.form__okay {
  width: 696px;
  margin: 0 auto;
  text-align: center;
}
