body {
  font-family: var(--text-leng);
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
  padding-bottom: 25px;
  padding-top: 25px;
  position: relative;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.header .header__container {

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.mobile__logo{
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    margin-right: 93px;
  }
}
.site-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.site-nav__logo {
  text-decoration: none;
  font-family: var(--secondary-text);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);

}
.site-nav__name {
  color: var(--titlle-text-color);
  display: inline-flex;
  justify-content: space-around;
}
.site-nav__list {
  @media screen and (min-width: 768px) {
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
  }
}
.site-nav__item {
  &:not(:last-child) {
    margin-right: 50px;
    margin-left: auto;
  }
}
.site-nav__link.current {
  @media screen and (min-width: 480px) {
    position: relative;
    color: var(--accent-color);
  }
}

.site-nav__link.current {
  @media screen and (min-width: 480px) {
    &::after {
      position: absolute;
      left: 0;
      bottom: -34px;
      content: '';
      display: block;
      background-color: var(--accent-color);
      border-radius: 2px;
      width: 100%;
      height: 4px;
    }
  }
}
.site-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--titlle-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.contacts {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 50px;
      margin-left: auto;
    }
  }
}
.contacts__envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--team-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--team-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link {
  &:hover svg,
  &:focus {
    fill: #2196f3;
  }
}
.contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--team-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
