
.modal {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: var(--primary-white-color);
  border-radius: 4px;
  width: 450px;
  height: 609px;
  left: 50%;
  top: 50%;
  padding: 40px;
  @media screen and (min-width: 768px) {
    position: absolute;
    padding: 40px;
    width: 450px;
    height: 609px;
    top: 50%;
    left: 50%;
  }
}
.close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close {
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.close {
  &:hover svg,
  &:focus svg {
    fill: var(--accent-color);
  }
}
.modal__close {
  fill: var(--titlle-text-color);
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
