.peculiarities {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
  
}
.peculiarities__name {
  line-height: 1.7;
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.peculiarities-text {
  margin-left: 30px;
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.peculiarities__list {
  margin-left: -30px;
    margin-top: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    
  }
  @media screen and (min-width: 1200px) {
      display: flex;
      
  }
}

.peculiarities__item {
  list-style: none;
  line-height: 1.14;
  color: var(--titlle-text-color);
    margin-top: 30px;
    margin-left: 30px;
  @media screen and (min-width: 768px) {
    width: calc(100% /2 - 30px);
 
  }
   @media screen and (min-width: 1200px) {
  width: calc(100% /4 - 30px);
  }
}
// .peculiarities__item {
//   @media screen and (min-width: 768px) {
//     &:not(:last-child) {
//     margin-right: 30px;
//     }
  // }
// }
.peculiarities__thumb {
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.peculiarities__icon {
  width: 70px;
  height: 70px;
  fill: #212121;
}
.peculiarities__titlle {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
  color: var(--color-word);
  margin-bottom: 10px; 
  text-align: center;
    @media screen and (min-width: 768px){
      text-align:start;
    }
}
.peculiarities__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--team-color);
}
