.button {
  cursor: pointer;
  background: var(--accent-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  color: var(--primary-white-color);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.slogan {
  padding: 60px;
  text-align: center;
  background: linear-gradient(to right, var(--background), var(--background)),
    url('../images/hero/hero-480.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  background: linear-gradient(to right, var(--background), var(--background)),
  url('../images/hero/hero-480@2x.jpg');
}
  @media screen and (min-width: 768px) {
    padding: 118px 0;
    background: linear-gradient(to right, var(--background), var(--background)),
    url('../images/hero/hero-768.jpg');
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background: linear-gradient(to right, var(--background), var(--background)),
        url('../images/hero/hero-768@2x.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background: linear-gradient(to right, var(--background), var(--background)),
    url('../images/hero/hero-1200.jpg');
    
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background: linear-gradient(to right, var(--background), var(--background)),
        url('../images/hero/hero-1200@2x.jpg');
    }
    
  }
}

.slogan__name {
  text-transform: uppercase;
  font-family: var(--text-leng);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  color: var(--primary-white-color);
  margin: 0 auto;

  margin-bottom: 30px;
  letter-spacing: 0.06em;
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 42px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.4;
    width: 696px;
  }
}
