:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --titlle-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --team-color: #757575;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --text-leng: 'Roboto', sans-serif;
  --secondary-text: 'Raleway', sans-serif;
  --button-color: #f5f4fa;
  --footer-color: #2f303a;
  --section-color: #e5e5e5;
  --outline-color: #eeeeee;
  --color-word: #212121;
  --gradient-color: rgba (196 196 196 1);
  --card-set-gap: 20px;
  --card-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --background: rgba(47, 48, 58, 0.4);
  --timing-fuction: cubic-bezier(0.4, 0, 0.2, 1);
}
